@{
    ViewData["Title"] = "Home Page";
}
@model ProjectListViewModel
<!--Peter (Max) Haines
    Landing page with a little bootstrap to improve the aesthetic
    that displays everything we have put in the database
    The bootstrap that I added were alerts, spinners, and the d-flex!
    -->

<div class="text-center">
    <p>Let's see what books we have in stock!</p>
</div>
<div class="d-flex justify-content-center">
    <div class=" spinner-grow text-center"></div>
</div>

@foreach (var x in Model.Projects)
{
    <partial name="BookSummary" model="x" />
}
<div class="d-flex justify-content-center">
    <div class=" spinner-grow text-center"></div>
</div>

<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.Type"
     class="btn-group pull-right m-1"></div>
